* {
background-color: none;
background: none;
color: inherit;
margin: 0px;
padding: 0px;
border: 0px;
outline: none;
font-family: inherit;
font-weight: inherit;
text-decoration: inherit;
}

html {
font-family: "Source Sans Pro", "Roboto", sans;
word-break: break-word;
word-wrap: break-word;
text-size-adjust: none;
text-decoration: none;
background-color: white;
}

body {
max-width: 800px;
margin-left: 40pt;
margin-right: 40pt;
}

header, article, footer {
padding-left: 20pt;
padding-right: 20pt;
}

header {
display: block;
}

footer {
border-top: 1pt solid;
margin-top: 1em;
padding-bottom: 1em;
}

h1, h2 {
font-weight: bolder;
}

h2 {
font-style: oblique;
}

h1, h2, p, quote, pre, figure, figcaption {
margin-top: 1rem;
}

ul, ol {
padding-top: 1rem;
padding-left: 2rem;
}

a {
color: blue;
font-weight: bolder;
}

a:active {
text-decoration: underline;
}

a:hover {
background-color: blue;
color: white;
text-decoration: underline;
}

a:focus {
text-decoration: underline;
}

span {
display: inline-block;
}

b {
font-weight: bolder;
}

figure, quote, pre {
display: block;
background-color: #e0e0e0;
max-width: 100%;
padding: 1rem;
}

figcaption {
font-style: oblique;
}

img {
display: block;
max-width: 100%;
margin-left: auto;
margin-right: auto;
}

pre, quote {
font-family: "Source Code Pro", "Roboto Mono", mono;
}
