<h1>About me</h1>
<p>I graduated in Biological Sciences at the Universidade Estadual de Feira de Santana (State University), currently a Master Degree in Bioinformatics at Universidade Federal de Minas Gerais (Federal University).</p>
<p>I am self-taught programmer. I started with Pascal in 2002, moved to programming in C, and in 2020 I started learning Rust.</p>
<p>I have interest in operating system development and game development.</p>
<p>My researcher profile at ORCID is <a target="_blank" href="https://orcid.org/0000-0002-3920-3396">https://orcid.org/0000-0002-3920-3396</a>.</p>
<p>My Twitter account is <a target="_blank" href="https://twitter.com/dasifefe">@dasifefe</a>.</p>
<p>My contact e-mail is dasifefe@gmail.com.</p>
