<h1>Illustrations</h1>
<p>These are my own creations and part of my own projects.</p>
<figure>
<img src="./pictures/pixelart_asorted_2020_02_15.png" />
<img src="./pictures/pixelart_asorted_2020_02_15_scaled_2x.png" />
<figcaption>Random illustration of certain character changing role.<br>Copyright &copy; Felipe Ferreira da Silva. All rights reserved.<br>Date of upload: 2020-02-15.</figcaption>
</figure>
<figure>
<img src="./pictures/pixelart_game_001_characters.png" />
<figcaption>Game characters without battle suit (top) and with battle suit (bottom). The battle suit is like an astronaut suit that allows the user to survive extreme environments (vacuum, hot, cold and toxic). Besides the support in extreme environments, the battle suit can take explosive impacts.<br>Copyright &copy; Felipe Ferreira da Silva. All rights reserved.</figcaption>
</figure>
<figure>
<img src="./pictures/pixelart_game_001_characters_full.png" />
<figcaption>A big pixel art of the main character.<br>Copyright &copy; Felipe Ferreira da Silva. All rights reserved.</figcaption>
</figure>
